<%= render :partial => 'action_menu' %>

<%= title l(:label_workflow) %>
<%# Check Redmine version Redmine < 5 or Redmine >= 5 %>
<% edit_path = respond_to?(:edit_workflows_path) ? :edit_workflows_path : :workflows_edit_path %>
<% permissions_path = respond_to?(:permissions_workflows_path) ? :permissions_workflows_path : :workflows_permissions_path %>

<div class="tabs">
  <ul>
    <li><%= link_to l(:label_status_transitions), send(edit_path, :role_id => @roles, :tracker_id => @trackers) %></li>
    <li><%= link_to l(:label_fields_permissions), send(permissions_path, :role_id => @roles, :tracker_id => @trackers) %></li>
    <li><%= link_to l(:label_fields_projects), workflows_projects_path(:role_id => @roles), :class => 'selected' %></li>
  </ul>
</div>

<p><%= l(:text_workflow_project_edit) %>:</p>

<%= form_tag({}, :method => 'get') do %>
  <p>
    <label><%= l(:label_role) %>:
      <%= options_for_workflow_select 'role_id[]', Role.workflow_project_roles, @roles, :id => 'role_id', :class => 'expandable' %>
      <span class="toggle-multiselect icon-only"></span>
    </label>
    <%= submit_tag l(:button_edit), :name => nil %>
  </p>
<% end %>

<% if @roles %>
  <% role_size = (@roles.size) + 1 %>
  <% role_label = @roles.size == 1 ? l(:label_role) : l(:label_role_plural) %>
  <% role_width = 75 / (@roles.size) %>
  <% role_style = @roles.size == 1 ? "float: left;" : "width:#{role_width}%;" %>
  <% th_role_style = @roles.size == 1 ? "float: left;width: 100%;text-align: left;" : "" %>

  <%= form_tag({}, :id => 'workflow_form') do %>
    <%= @roles.map { |role| hidden_field_tag 'role_id[]', role.id, :id => nil }.join.html_safe %>
    <div class="autoscroll">
      <table class="list workflows fields_permissions">
        <thead>
        <tr>
          <th></th>
          <th style="<%= th_role_style %>" colspan="<%= role_size %>"><%= role_label %></th>
        </tr>
        <tr>
          <td></td>
          <% for role in @roles %>
            <td style="<%= role_style %>">
              <%= role.name %>
            </td>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <tr class="group open">
          <td>
            <span class="expander icon icon-expended" onclick="toggleRowGroup(this);">&nbsp;</span>
            <%= l(:field_core_fields) %>
          </td>
          <td colspan="<%= (role_size - 1) %>">
            <%= select_option_for_all_links ".core_field", 'permissions', "readonly", l(:label_readonly_all) %>
          </td>
        </tr>
        <% @fields.each do |field, name| %>
          <tr class="core_field">
            <td class="name" style="width:15%;">
              <%= name %> <%= content_tag('span', '*', :class => 'required') if field_required?(field) %>
            </td>
            <% @roles.each do |role| %>
              <td style="<%= role_style %>">
                <%= field_permission_project_tag(@permissions, role, field, @roles) %>
              </td>
            <% end %>
          </tr>
        <% end %>

        <% if @custom_fields.any? %>
          <tr class="group open">
            <td>
              <span class="expander icon icon-expended" onclick="toggleRowGroup(this);">&nbsp;</span>
              <%= l(:label_custom_field_plural) %>
            </td>
            <td colspan="<%= (role_size - 1) %>">
              <%= select_option_for_all_links ".custom_field" , 'permissions', "readonly", l(:label_readonly_all) %>
            </td>
          </tr>

          <% @custom_fields.each do |custom_field| %>
            <!--  This condition for sections if redmine_custom_fields_sections is installed -->
            <% if custom_field.is_a?(Hash) %>
              <tr class="section_custom_field" id="<%= custom_field[:name].parameterize %>">
                <td style="text-align: left;" colspan="<%= role_size %>"><%= link_to custom_field[:name], edit_custom_fields_section_path(custom_field[:id]) %>
              </tr>
              <% custom_field[:items].each do |item| %>
                <tr class="section_custom_field custom_field">
                  <td style="text-align: left;">
                    <span class="name field-section">
                      <%= link_to item.name, edit_custom_field_path(item) %>
                    </span>
                  </td>
                  <% @roles.each do |role| %>
                    <td style="<%= role_style %>">
                      <%= field_permission_project_tag(@permissions, role, item, @roles) %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              <% custom_field[:items].each_with_index do |item, i|
                next if i == 0 %>
                <tr class="section_item_invisible <%= custom_field[:name].parameterize %>"></tr>
              <% end %>
            <% else %>
              <tr class="custom_field">
                <td class="name"><%= link_to custom_field.name, edit_custom_field_path(custom_field) %></td>
                <% @roles.each do |role| %>
                  <td style="<%= role_style %>">
                    <%= field_permission_project_tag(@permissions, role, custom_field, @roles) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= submit_tag l(:button_save) %>
  <% end %>
<% end %>
